*
  margin: 0
  padding: 0
  border: none
  box-sizing: border-box
  outline: none
  font-family: 'Open Sans', sans-serif

html, body
  background-color: #222

a, button, link
  text-decoration: none

ul
  list-style: none
