#subjectSearch
  width: 100%
  padding: 16px
  font-size: 24px
  border-left: 0px solid $main
  +transition(0.3s)
  &:focus
    border-left-width: 20px

#subjectList
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-around
