#subject
  h1
    margin: 4px
    font-size: 32px
    padding: 4px
    color: rgba(#fff, 0.85)

  .info
    .actions
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex-wrap: wrap
      .action
        

    p
      font-size: 16px
      line-height: 1.6em
      color: rgba(#fff, 0.85)
      padding: 16px
      max-width: 640px
  ul
    margin: 16px
    li
      color: rgba(#fff, 0.85)
      display: -webkit-flex
      display: -ms-flex
      display: flex
      align-items: center
      justify-content: flex-start
      padding: 4px
      background-color: #444
      margin: 16px 4px
      font-size: 16px
      span.prompt
        padding: 12px
        width: 35%
        border-right: 1px solid rgba($white, 0.1)
      span.answer
        width: 65%
        padding: 12px
