#configure
  margin: 32px
  h1
    margin-bottom: 16px
    font-size: 36px
  .option
    margin-bottom: 8px
    p, select, input
      display: inline-block
      margin: 0 8px
      padding: 4px 8px

    p
      width: 216px
    input, select
      background: transparent
      border-left: 2px solid $grey
      font-size: 16px
      +transition(0.3s)
      &:focus
        background-color: $white
    input
      width: 50px
    select
      option
        background-color: $white
        outline: none
        font-size: 14px
        &:hover, &:focus
          background-color: $main
          color: $white
