.button {
  font-size: 16px;
  padding: 8px;
  margin: 4px;
  cursor: pointer; }

input[type="text"].textInput {
  position: relative; }
  input[type="text"].textInput::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 30%;
    background-color: #000; }

.minicard {
  background-color: #fafafa;
  margin: 16px;
  height: 125px;
  width: 125px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .minicard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .minicard span {
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    position: absolute;
    bottom: 4px; }
  .minicard img {
    margin: 4px; }

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-family: 'Open Sans', sans-serif; }

a, button, link {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

html, body {
  background-color: #fafafa; }

#header {
  background-color: #2c3e50;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  #header .button {
    margin: 4px; }
  #header #logo {
    margin: 4px; }
    #header #logo h1 {
      color: rgba(250, 250, 250, 0.85); }

#subjectSearch {
  width: 100%;
  padding: 16px;
  font-size: 24px;
  border-left: 0px solid #2c3e50;
  background-color: #fafafa;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  #subjectSearch:focus {
    border-left-width: 20px; }

#subjectList {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.subjectCard {
  width: 300px;
  margin: 16px;
  padding: 16px 16px 16px 32px;
  color: rgba(0, 0, 0, 0.85);
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .subjectCard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .subjectCard .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #2c3e50;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .subjectCard .progress .correct {
      background-color: #2ecc71; }
    .subjectCard .progress .incorrect {
      background-color: #e74c3c; }
    .subjectCard .progress .atmptData {
      display: flex;
      align-items: center; }
      .subjectCard .progress .atmptData .tooltip {
        opacity: 0;
        white-space: nowrap;
        color: rgba(250, 250, 250, 0.85);
        padding: 2px;
        margin: 2px;
        background-color: rgba(0, 0, 0, 0.7);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .subjectCard .progress .atmptData:hover .tooltip {
        opacity: 1; }
  .subjectCard:hover .progress {
    width: 16px; }

#configure {
  color: rgba(255, 255, 255, 0.85); }
  #configure .option input, #configure .option select, #configure .option p {
    display: inline-block;
    margin: 8px;
    font-size: 16px;
    padding: 4px; }
  #configure .option input {
    border: 2px solid rgba(255, 255, 255, 0.85);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.85);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    #configure .option input:hover, #configure .option input:active, #configure .option input:focus {
      background-color: rgba(255, 255, 255, 0.05); }
