.button {
  font-size: 16px;
  padding: 8px;
  margin: 4px;
  border-radius: 2px;
  cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-family: 'Open Sans', sans-serif; }

html, body {
  background-color: #222; }

a, button, link {
  text-decoration: none; }

ul {
  list-style: none; }

header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  background-color: #fafafa; }

#subjectSearch {
  width: 100%;
  padding: 16px;
  font-size: 24px;
  border-left: 0px solid #9b59b6;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  #subjectSearch:focus {
    border-left-width: 20px; }

#subjectList {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; }

.subjectCard {
  min-width: 300px;
  position: relative;
  margin: 16px;
  background-color: #fafafa;
  padding: 16px;
  cursor: pointer;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .subjectCard .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #9b59b6;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .subjectCard .progress .correct {
      background-color: #2ecc71; }
    .subjectCard .progress .incorrect {
      background-color: #e74c3c; }
  .subjectCard:hover .progress {
    width: 8px; }
  .subjectCard h1 {
    font-weight: 300;
    margin-bottom: 16px; }
