.button {
  font-size: 16px;
  padding: 8px;
  margin: 4px;
  cursor: pointer; }

.minicard {
  background-color: #fdfdfd;
  margin: 16px;
  height: 125px;
  width: 125px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  padding: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .minicard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .minicard span {
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    position: absolute;
    bottom: 4px; }
  .minicard i {
    margin: 4px;
    text-align: center; }

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-family: 'Open Sans', sans-serif; }

a, button, link {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

html, body {
  background-color: #f0f0f0; }

::selection {
  background-color: rgba(117, 117, 117, 0.2); }

#header {
  background-color: #2c3e50;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  #header .button {
    margin: 4px;
    background-color: #fdfdfd; }
  #header #logo {
    margin: 4px; }
    #header #logo h1 {
      color: rgba(253, 253, 253, 0.85); }

.subjectSearchInput {
  width: 100%;
  position: relative;
  border-left: 0px solid #2c3e50;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .subjectSearchInput.focused {
    border-left-width: 20px; }
  .subjectSearchInput p {
    pointer-events: none;
    position: absolute;
    padding: 16px;
    font-size: 24px;
    color: #757575;
    display: inline-flex;
    align-items: center; }
    .subjectSearchInput p i, .subjectSearchInput p span {
      vertical-align: middle; }
    .subjectSearchInput p i {
      margin-right: 8px;
      font-size: 32px; }
  .subjectSearchInput #subjectSearch {
    width: 100%;
    padding: 16px;
    font-size: 24px;
    background-color: #f0f0f0; }

#subjectList {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  #subjectList .sorry {
    width: 100%;
    color: #757575;
    text-align: center;
    font-size: 32px;
    margin: 32px 0; }

.subjectCard {
  max-width: 300px;
  margin: 16px;
  padding: 16px 16px 16px 32px;
  color: rgba(0, 0, 0, 0.85);
  position: relative;
  background-color: #fdfdfd;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .subjectCard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .subjectCard .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #757575;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .subjectCard .progress .correct {
      background-color: #2ecc71; }
    .subjectCard .progress .incorrect {
      background-color: #e74c3c; }
    .subjectCard .progress .atmptData {
      display: flex;
      align-items: center; }
      .subjectCard .progress .atmptData .tooltip {
        opacity: 0;
        white-space: nowrap;
        color: rgba(253, 253, 253, 0.85);
        padding: 2px;
        margin: 4px;
        background-color: rgba(0, 0, 0, 0.7);
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .subjectCard .progress .atmptData:hover .tooltip {
        opacity: 1; }
  .subjectCard:hover .progress {
    width: 16px; }

#subject {
  margin: 32px;
  max-width: 960px; }
  #subject h1 {
    font-weight: 300;
    font-size: 56px;
    margin-bottom: 8px; }
  #subject .info p {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 8px; }
  #subject .actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 32px; }
  #subject .questions {
    padding: 16px 0; }
    #subject .questions .question {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      background-color: #fdfdfd;
      padding: 16px 32px; }
      #subject .questions .question p {
        display: inline-block;
        padding: 0 16px;
        font-size: 1.1em;
        line-height: 1.6em; }
      #subject .questions .question .prompt {
        width: 300px; }
      #subject .questions .question .answer {
        border-left: 1px solid #f0f0f0; }

#edit {
  margin: 32px;
  max-width: 960px; }
  #edit .sorry {
    width: 100%;
    color: #757575;
    text-align: center;
    font-size: 32px;
    margin: 32px 0; }
  #edit .edit p {
    font-size: 24px; }
  #edit .editName p {
    font-size: 36px; }
  #edit .editName input {
    font-size: 32px; }
  #edit #editDescription, #edit #editName {
    width: 100%;
    margin-bottom: 32px; }
  #edit textarea, #edit input {
    border-left: 2px solid #757575;
    resize: none;
    padding: 8px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0 16px;
    flex: 1;
    font-size: 16px;
    background-color: rgba(253, 253, 253, 0);
    transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    #edit textarea:focus, #edit input:focus {
      background-color: #fdfdfd; }
  #edit .card {
    background-color: #fdfdfd;
    margin-bottom: 8px;
    padding: 16px 32px;
    display: flex;
    align-items: center; }
    #edit .card .remove {
      width: 32px;
      height: 32px;
      cursor: pointer;
      background-color: #f0f0f0; }
      #edit .card .remove i {
        vertical-align: middle; }
  #edit .addfix:after {
    content: "";
    display: table;
    clear: both; }
  #edit .addfix .add {
    height: 56px;
    width: 56px;
    float: right;
    cursor: pointer; }
  #edit .buttons button {
    background-color: #fdfdfd; }

#configure {
  margin: 32px; }
  #configure h1 {
    margin-bottom: 16px;
    font-size: 36px; }
  #configure .option {
    margin-bottom: 8px; }
    #configure .option p, #configure .option select, #configure .option input {
      display: inline-block;
      margin: 0 8px;
      padding: 4px 8px; }
    #configure .option p {
      width: 216px; }
    #configure .option input, #configure .option select {
      background: transparent;
      border-left: 2px solid #757575;
      font-size: 16px;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      #configure .option input:focus, #configure .option select:focus {
        background-color: #fdfdfd; }
    #configure .option input {
      width: 50px; }
    #configure .option select option {
      background-color: #fdfdfd;
      outline: none;
      font-size: 14px; }
      #configure .option select option:hover, #configure .option select option:focus {
        background-color: #2c3e50;
        color: #fdfdfd; }

#test {
  margin: 32px;
  max-width: 960px; }
  #test .question {
    margin-bottom: 16px;
    padding: 8px 16px; }
    #test .question.correct {
      background-color: rgba(46, 204, 113, 0.2);
      pointer-events: none; }
    #test .question.incorrect {
      background-color: rgba(231, 76, 60, 0.2);
      pointer-events: none; }
    #test .question p {
      font-size: 16px; }
  #test .textResponce .answer {
    padding: 8px 4px;
    position: relative;
    width: 100%; }
    #test .textResponce .answer .textInputAnswer {
      border-left: 0 solid #757575;
      resize: none;
      padding: 8px 16px;
      overflow: hidden;
      white-space: pre-wrap;
      word-wrap: break-word;
      width: 100%;
      height: 100%;
      display: block;
      transition: border-left 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      #test .textResponce .answer .textInputAnswer:focus ~ .border {
        width: 8px; }
    #test .textResponce .answer .border {
      content: "";
      position: absolute;
      height: calc(100% - 16px);
      width: 0;
      background-color: #757575;
      top: 8px;
      left: 4px;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  #test .multipleChoice .answerOptions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px; }
    #test .multipleChoice .answerOptions .answer {
      width: calc(50% - 8px);
      background-color: #fdfdfd;
      margin: 4px;
      position: relative; }
      #test .multipleChoice .answerOptions .answer label {
        width: 100%;
        position: relative;
        display: block;
        padding: 8px 16px; }
        #test .multipleChoice .answerOptions .answer label .border {
          position: absolute;
          height: 100%;
          width: 0;
          background-color: #757575;
          top: 0;
          left: 0;
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
        #test .multipleChoice .answerOptions .answer label:hover .border {
          width: 8px; }
        #test .multipleChoice .answerOptions .answer label input[type=radio] {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          height: 100%;
          width: 100%;
          cursor: pointer; }
          #test .multipleChoice .answerOptions .answer label input[type=radio]:checked ~ .border {
            width: 8px; }
  #test .cf:after {
    content: "";
    display: table;
    clear: both; }
  #test .cf button {
    background-color: #fdfdfd;
    float: right; }

.popup {
  position: fixed;
  top: -32px;
  display: flex;
  align-items: center;
  z-index: 10;
  padding: 8px 16px;
  max-width: 720px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .popup.error {
    background-color: #e74c3c; }
  .popup.good {
    background-color: #2ecc71; }
  .popup.netural {
    background-color: #3498db; }
  .popup.show {
    top: 120px; }
  .popup p, .popup button {
    display: inline-block; }
  .popup button {
    height: 32px;
    width: 32px;
    text-align: center; }
    .popup button i {
      vertical-align: middle; }
  .popup p {
    flex: 1;
    margin-right: 16px; }

.notfound {
  overflow: hidden;
  max-height: 100vh; }
  .notfound h1 {
    text-align: center;
    font-weight: 300;
    margin: 64px auto;
    max-width: 640px; }
  .notfound button {
    margin: 0 auto;
    display: block;
    background-color: #fdfdfd; }

#horse {
  height: 600px;
  width: 600px;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -600px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  #horse.show {
    bottom: -300px; }

body.ofh {
  overflow: hidden; }

.answerResults {
  margin: 64px 0 16px;
  padding: 16px;
  background-color: #fdfdfd; }
  .answerResults h1 {
    text-align: center; }
    .answerResults h1.green {
      color: #2ecc71; }
    .answerResults h1.yellow {
      color: #f39c12; }
    .answerResults h1.red {
      color: #e74c3c; }

#study {
  display: block;
  overflow: hidden; }
  #study .flashcards {
    margin: 16px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%; }
    #study .flashcards .cardContainer {
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      margin: 32px auto; }
      #study .flashcards .cardContainer .flashCard {
        background-color: #fdfdfd;
        max-width: 720px;
        text-align: center;
        margin: 0 auto;
        width: 90%;
        padding-bottom: 56.25%;
        position: relative;
          position-height: 0; }
        #study .flashcards .cardContainer .flashCard::after {
          left: 0;
          height: 100%;
          position: absolute;
          top: 0;
          width: 100%; }
        #study .flashcards .cardContainer .flashCard .innerCard {
          position: absolute; }
  #study footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    #study footer button {
      height: 32px;
      width: 52px;
      margin: 4px; }
      #study footer button i {
        vertical-align: middle; }
  #study .sorry {
    width: 100%;
    color: #757575;
    text-align: center;
    font-size: 32px;
    margin: 32px 0; }
