.button {
  font-size: 16px;
  padding: 8px;
  margin: 4px;
  cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-family: 'Open Sans', sans-serif; }

html, body {
  background-color: #222; }

a, button, link {
  text-decoration: none; }

ul {
  list-style: none; }

header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 5;
  background-color: #9b59b6;
  color: rgba(0, 0, 0, 0.85); }

.subheader {
  z-index: 1; }

#subjectSearch {
  width: 100%;
  padding: 16px;
  font-size: 24px;
  border-left: 0px solid #9b59b6;
  background-color: #fafafa;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  #subjectSearch:focus {
    border-left-width: 20px; }

#subjectList {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.subjectCard {
  min-width: 300px;
  max-width: 320px;
  position: relative;
  margin: 16px;
  background-color: #fafafa;
  padding: 16px 16px 16px 32px;
  cursor: pointer;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .subjectCard .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #7f8c8d;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .subjectCard .progress .correct {
      background-color: #2ecc71; }
    .subjectCard .progress .incorrect {
      background-color: #e74c3c; }
  .subjectCard .correct, .subjectCard .incorrect, .subjectCard .ncorrect {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    overflow: hidden; }
    .subjectCard .correct .tooltip, .subjectCard .incorrect .tooltip, .subjectCard .ncorrect .tooltip {
      background-color: rgba(34, 34, 34, 0.8);
      border-radius: 2px;
      color: rgba(255, 255, 255, 0.95);
      opacity: 0;
      white-space: nowrap;
      padding: 2px;
      margin: 2px;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .subjectCard .correct:hover, .subjectCard .incorrect:hover, .subjectCard .ncorrect:hover {
      overflow: visible; }
      .subjectCard .correct:hover .tooltip, .subjectCard .incorrect:hover .tooltip, .subjectCard .ncorrect:hover .tooltip {
        opacity: 1; }
  .subjectCard:hover .progress {
    width: 16px; }
  .subjectCard h1 {
    font-weight: 300;
    margin-bottom: 16px; }

#subject h1 {
  margin: 4px;
  font-size: 32px;
  padding: 4px;
  color: rgba(255, 255, 255, 0.85); }

#subject .info .actions {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap; }

#subject .info p {
  font-size: 16px;
  line-height: 1.6em;
  color: rgba(255, 255, 255, 0.85);
  padding: 16px;
  max-width: 640px; }

#subject ul {
  margin: 16px; }
  #subject ul li {
    color: rgba(255, 255, 255, 0.85);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
    background-color: #444;
    margin: 16px 4px;
    font-size: 16px; }
    #subject ul li span.prompt {
      padding: 12px;
      width: 35%;
      border-right: 1px solid rgba(250, 250, 250, 0.1); }
    #subject ul li span.answer {
      width: 65%;
      padding: 12px; }

.minicard {
  background-color: #fafafa;
  margin: 16px;
  height: 125px;
  width: 125px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .minicard:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .minicard span {
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    position: absolute;
    bottom: 4px; }
  .minicard img {
    margin: 4px; }

#edit {
  padding: 16px; }
  #edit button {
    border: 2px solid rgba(255, 255, 255, 0.85);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.85); }
  #edit input, #edit button, #edit textarea {
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    #edit input:hover, #edit input:active, #edit input:focus, #edit button:hover, #edit button:active, #edit button:focus, #edit textarea:hover, #edit textarea:active, #edit textarea:focus {
      background-color: rgba(255, 255, 255, 0.05); }
  #edit .edit {
    margin: 16px auto;
    max-width: 720px; }
    #edit .edit textarea {
      resize: vertical; }
    #edit .edit input, #edit .edit textarea {
      margin: 8px;
      display: block;
      border: 2px solid rgba(255, 255, 255, 0.85);
      color: rgba(255, 255, 255, 0.85);
      padding: 4px;
      font-size: 16px;
      width: calc(100% - 17px); }
    #edit .edit p {
      color: rgba(255, 255, 255, 0.85);
      margin: 8px;
      text-align: center; }
  #edit .card {
    margin: 16px auto;
    max-width: 720px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    #edit .card .remove {
      display: block;
      margin: 8px;
      width: 38px;
      height: 32px;
      width: 32px; }
    #edit .card input {
      margin: 8px;
      display: block;
      border: 2px solid rgba(255, 255, 255, 0.85);
      color: rgba(255, 255, 255, 0.85);
      padding: 4px;
      font-size: 16px;
      display: inline-block;
      flex: 1; }
    #edit .card span {
      color: rgba(255, 255, 255, 0.85);
      margin: 4px; }
  #edit .buttons {
    margin: 0 auto;
    max-width: 720px; }
    #edit .buttons::after {
      content: "";
      display: table;
      clear: both; }
    #edit .buttons .add {
      height: 42px;
      width: 42px;
      display: block;
      margin: 4px;
      float: right;
      cursor: pointer; }
